/* Imposta lo sfondo dell'interfaccia grafica */
BorderPane {
    -fx-background-color: #f2f2f2;
}

/* Imposta il colore del testo dell'interfaccia grafica */
Label, Button, TextField, TextArea {
    -fx-text-fill: #333333;
}

/* Imposta lo stile della lista delle email */
ListView {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
}

/* Imposta lo stile del pannello di lettura delle email */
#pnlReadMessage {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
}

/* Imposta lo stile dei pulsanti */
Button {
    -fx-background-color: #4CAF50;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
}

/* Imposta lo stile del pulsante 'Nuova Email' */
#btnNewEmail {
    -fx-background-color: #2196F3;
}

/* Imposta lo stile del pulsante 'Invia Email' */
#btnSendEmail {
    -fx-background-color: #4CAF50;
}

/* Imposta lo stile del pulsante 'Elimina' */
#btnDelete {
    -fx-background-color: #f44336;
}

/* Imposta lo stile del pulsante 'Annulla' */
#btnDiscard {
    -fx-background-color: #f44336;
}

/* Imposta lo stile del pulsante 'Rispondi' */
#btnReply {
    -fx-background-color: #2C3E50;
}

/* Imposta lo stile del pulsante 'Rispondi a tutti' */
#btnReplyAll {
    -fx-background-color: #2C3E50;
}

/* Imposta lo stile del pulsante 'Inoltra' */
#btnForward {
    -fx-background-color: #2C3E50;
}

